header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: #0f396e;
}

header>div {
    text-align: center;
}

#head1 {
    width: 20%;
    padding-top: 6px;
}

#head2 {
    width: 70%;
    padding: 15px;
}

#head1 img {
    width: 100px;
    height: 100px;
}

.head2>ul>li {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.head2>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.head2>ul li>a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.head2 a:hover {
    transition: 0.5s;
    color: #F0A500;
}

header a:hover {
    transition: 0.5s;
    color: #F0A500;
}

.head1>ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.head1>ul li {
    margin-right: 20px;
    list-style-type: none;
}

.head1 a {
    color: #747474;
    text-decoration: none;
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#side {
    background-color: #fff;
    padding: 20px;
    display: none;
    z-index: 10000;

}

#side img {
    display: none;
}

.container {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.sidenav {
    display: none;
}

.sidenav {
    display: none;
}

#img {
    width: 100px;
}

#underNav {
    display: none;
}

/* div{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
  }

  div.visible {
    opacity: 1;
    transform: translateY(0);
} */


#button {
    padding: 10px;
    color: #000000;
    background-color: #F0A500;
    border-radius: 5px;
}

#button:hover {
    background-color: #ffffff;
    border: 1px solid #F0A500;
}

button {
    padding: 10px;
    color: #000000;
    background-color: #F0A500;
    border: none;
    color: #fff;
    border-radius: 5px;
}

button a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
}

button:hover {
    background-color: #ffffff;
    border: 1px solid #F0A500;
    color: #000000;
}

button a:hover {
    color: #000000;
}

#bg {
    height: 500px;
    background-image: url(images/sykepleier.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#bg1 {
    height: 450px;
    background-image: url(images/sykepleier.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: none;
}

.bgcover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #01296a2c;
    color: #0f396e;
    padding: 40px;
    padding-top: 5%;
    text-align: left;
}

.bgcover>div>a {
    color: #012A6A;
    background-color: #ffffff;
    padding: 4px;
    border-radius: 3px;
    z-index: 1;
    border: none;
    font-weight: 400;
    padding: 10px;
    text-decoration: none;
    position: relative;
}

.bgcover h1 {
    font-weight: 500;
}

.bgcover>div>a:hover {
    background-color: #012A6A;
    color: #ffffff;
}

#two {
    text-align: center;
    background-color: #0f396e;
    padding: 70px;
    color: #fff;
}

#two h2 {
    font-size: 40px;
}

#two p {
    font-size: 25px;
}

#services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#services>div {
    margin: 20px;
    text-align: left;
    text-decoration: none;
    width: 25%;
}

#services p {
    font-size: 18px;
}

#services1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 400%;
}

#services1>div {
    margin: 10px;
    text-align: center;
    text-decoration: none;
    width: 45%;
    background-color: #0f396e;
    color: #fff;
    height: 480px;
}

#services1 p {
    padding: 10px;
    font-size: 15px;
}

#services1 button {
    margin: 10px
}

#services1 button>a {
    font-size: 16px;
}

#services1 img {
    width: 100%;
    height: 200px;
}

#scroll {
    overflow-x: auto;
    margin: 40px;
    overflow-y: hidden;
    background-color: #fff;
}

#guarantee {
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: center;
    background-color: #F0A500;
    color: #fff;
    justify-content: center;
    align-items: center;
}

#guarantee h3 {
    font-weight: 500;
}

#guarantee>div {
    width: 50%;
}

#guarantee img {
    width: 300px;
}

#services3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    padding: 20px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

#services3>div {
    margin: 20px;
    text-align: left;
    text-decoration: none;
    width: 45%;
}

#services3 img {
    width: 100%;
}

#services4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px;
    padding: 20px;
    border-bottom: 4px solid black;
}

#services4>div {
    margin: 20px;
    text-align: left;
    text-decoration: none;
    width: 45%;
}

#services4 img {
    width: 100%;
}

#box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
}

#box>div {
    margin: 20px;
    text-align: left;
    text-decoration: none;
    width: 25%;
    border: 3px solid #F0A500;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(199, 196, 196);
    height: 450px;
}

#box2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
}

#box2>div {
    margin: 10px;
    text-align: left;
    text-decoration: none;
    width: 17%;
    border: 3px solid #F0A500;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(199, 196, 196);
    height: 490px;
}

#services4 form>input,
select,
textarea {
    width: 100%;
    border: 1px solid #dee9f8;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #0f396e
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer>div {
    padding: 10px;
    color: #F9FAFB;
    margin: 20px;
    width: 33%;
}

footer h3 {
    font-weight: bold;
    font-size: 20px;
    color: #F0A500;
}

#links a {
    color: #fff;
    line-height: 30px;
    text-decoration: none;
}

.bg {
    background-image: url(images/Who-we-work-with-header-image-1-60.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#imgbtn {
    width: 150px;
}

#bookNow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#bookNow>div {
    width: 25%;
    margin: 10px;
    border: 1px solid #dee9f8;
}

#bookNow img {
    width: 100%;
    height: 200px;
}

#bookNow button {
    margin: 10px;
}

@media only screen and (max-width: 1200px) {

    #hide {
        display: none;
    }

    #box2>div {
        height: auto;
        width: auto;
    }

    #box>div {
        height: auto;
    }

    #box2 {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width: 1000px) {

    #scroll {
        margin: 10px;
    }

    .bg {
        background-image: url(images/Who-we-work-with-header-image-1-60.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }

    footer {
        flex-direction: column;
    }

    footer>div {
        width: auto;
        margin: 10px
    }

    #box2 {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #box2>div {
        width: 100%;
        height: auto;
    }

    #box {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #box>div {
        width: 100%;
        height: auto;
    }

    #two {
        text-align: center;
        background-color: #0f396e;
        padding: 20px;
        color: #fff;
    }

    #guarantee {
        flex-direction: column;
    }

    #guarantee>div {
        width: auto;
    }

    #services {
        display: flex;
        flex-direction: column;
    }

    #services>div {
        width: auto;
        margin: 10px;
    }

    #services3 {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #services3>div {
        width: auto;
        margin: 0px;
    }

    #services4 {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0px;
    }

    #services4>div {
        width: 90%;
        margin-top: 20px;
    }

    #services1 p {
        padding: 10px;
        font-size: 14px;
    }

    #services1 h2 {
        font-size: 16px;
    }

    #services1 button>a {
        font-size: 13px;
    }

    #services1 {
        width: 960%;
    }

    #services1>div {
        width: 100%;
        height: auto;
    }

    #bg {
        display: none;
    }

    #bg1 {
        display: block;
    }

    #bg1 h1 {
        background-color: #ffffff65;
        font-size: 20px;
        padding: 8px;
    }

    .bgcover {
        padding-top: 80px;
    }

    footer {
        flex-direction: column;
    }

    footer>div {
        margin: 20px;
        width: 90%;
        height: auto;
    }

    .sidenav {
        display: block;
    }

    #sideNav {
        display: block;
    }

    #underNav {
        display: block;
        margin-top: 25px;
        margin-left: 20px;
    }

    .container {
        display: inline-block;
        cursor: pointer;
    }

    #side {
        display: block;
        height: 70px;
        position: sticky;
        top: 0;
        background-color: #0f396e;
    }

    #side img {
        display: block;
        margin: -5%;
        width: 100px;
        margin-top: -36px;
    }

    header {
        display: none;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100000;
        top: 0;
        left: 0;
        background-color: #0f396e;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        text-decoration: none;
        display: block;
        transition: 0.3s;
        line-height: 50px;
        color: #f5f2f2;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 600;
        padding-left: 15px;
    }

    .sidenav a:hover {
        color: #000000;
        background-color: #ffffff;
    }

    .container {
        float: right;
        margin-right: 10px;
        margin-top: -40px;
    }

}


@media only screen and (max-width: 800px) {
    #bookNow {
        flex-direction: column;
    }

    #bookNow>div {
        width: 90%;
    }
}


/* Style for the Google Translate widget container */
#google_translate_element {
    border-radius: 5px;
    /* Optional: rounded corners */
    display: inline-block;
    width: 100px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Style for the dropdown select element */
.goog-te-combo {
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
}




.goog-logo-link {
    display: none;
    /* Hide the Google logo if you prefer */
}